name: police_reports_app
description: An app for filing police reports.
publish_to: 'none' # This project is not intended for publishing to pub.dev.
version: 1.0.0+1

environment:
  sdk: ">=2.12.0 <3.0.0"  # Ensure null safety is enabled

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
